body{
	background: #E6FFE6;
}
.torres
{
	margin-top: 70px;
}
.flat-details
{
	border: 2px solid transparent;

}
.details
{
	margin-top: 5%;
	border-radius: 10px;
	background-color: transparent;
	
	padding-top: 5%;
	padding-left: 10%;
	padding-bottom: 5%;
	font-size: 26px;
	font-family: "Times New Roman", Times, serif;

}
.new
{
	margin-left: 10%;
}
.house-owner
{
	background-color: transparent;
	border-radius: 10px;
	height: 560px;
	padding-top: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	
}

.owner
{
	
	margin: 5% 5% 5% 5%;
	padding-top: 5%;
	padding-right: 5%;
	padding-left: 5%;
	padding-bottom: 5%;
	border-radius: 10px;
}

.wow
{
	margin-left: 15%;
}